body, html *{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jua', cursive;
    color: #27690d;
    text-align: center;
    background-color: rgb(230, 250, 230);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 40px;
}

h5 {
    font-size: 30px;
}

p {
    font-size: 25px;
}

img {
    max-width: 100%;
}

.card {
    display: inline-block;
    max-width: 500px;
    margin: 100px;
    padding: 100px 50px;
}

.container {
    
}

.img {
    max-width: 250px;
}